* {
    font-family: Dank Mono, monospace;
}

.actions-container.highlighted-toggled {
    display: none !important;
}

.editor .title .actions-container .action-item a {
    visibility: hidden;
}

.editor .title .actions-container {
    flex-direction: row-reverse;
}

#workbench\.parts\.sidebar {
    height: 100% !important;
}

#workbench\.parts\.sidebar .monaco-scrollable-element {
    height: 100% !important;
}

.monaco-workbench .part>.header-or-footer, .monaco-workbench .part>.title {
    height: 28px !important;
    padding-left: 0px !important;
}

.monaco-workbench .part>.title>.title-label {
    line-height: 30px !important;
}

.monaco-editor .scroll-decoration {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .75) !important;
    top: -6px !important;
}

.monaco-workbench .part.titlebar>.titlebar-container>.titlebar-center>.window-title>.command-center .action-item.command-center-center {
    border: none !important;
    background: transparent !important;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .editor-actions {
    display: none !important;
}

.titlebar-left {
    justify-content: flex-start !important;
    flex-grow: 0 !important;
    width: auto !important;
}

.monaco-workbench .part.titlebar>.titlebar-container>.titlebar-center>.window-title>.command-center .action-item.command-center-center {
    width: 200px !important;
}

.search-label {
    font-family: 'Dank Mono' !important;
    font-size: 11px !important;
}

.search-icon {
    display: none !important;
}

.codicon-search::before {
    display: none !important;
}

.codicon-arrow-right,
.codicon-arrow-left {
    display: none !important;
}

.titlebar-right>* {
    display: none !important;
}

#command-blur {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .15);
    top: 0;
    left: 0;
    backdrop-filter: blur(8px);
}

.monaco-workbench .activitybar {
    display: none !important;
}

.monaco-workbench .sidebar .title-actions {
    display: none !important;
}

.quick-input-widget {
    transform: translateY(-50%) !important;
    top: 50% !important;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.45) !important;
    padding: 10px 10px 18px 10px !important;
    border-radius: 6px !important;
    z-index: 1000000 !important;
}

.monaco-workbench::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    z-index: 999999;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    visibility: hidden;
}

.quick-input-widget:not(:empty)~.monaco-workbench::after {
    opacity: 1;
    visibility: visible;
}

.quick-input-list {
    max-height: calc(50vh - 60px) !important;
    overflow-y: auto !important;
}

.monaco-scrollable-element .shadow.top {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .75) !important;
    top: -3px !important;
}

.quick-input-list .monaco-list:not(.mouse-support) {
    border: none !important;
}

.decorationsOverviewRuler {
    display: none !important;
}

.window-appicon {
    display: none !important;
}
